// Buttons
//
// Botones para Ofertop
//
// Markup:
// <button class="e-button">Botón</button>
// <a class="e-button">Botón Link</a>
//
// .primary   - Use this class to indicate that the button is the primary
//              feature of this form.
// .remove    - Use this class to indicate that the button will remove a
//              feature, or other negative connotations.
// :hover     - Highlight the button when hovered.
// :disabled  - Make the button change appearance to reflect it being disabled.
// :active    - "Press" the button down when clicked.
//
// Style guide: demo.components.buttons
.e-button
	border none
	padding 10px
	border-radius 4px
	background blue
	color white
	&:disabled,
	&[disabled],
	&.is-disabled
		cursor					not-allowed
		opacity					0.5
