head

	title
		block title

	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="description", content="")
	meta(name="keywords", content="")
	meta(name="viewport", content="width=device-width,initial-scale=1")
	meta(name='title', content='')
	meta(name='author', content='')
	meta(name='robots', content='')
	meta(name='keywords', content='')
	meta(property='og:description', content='')
	meta(property='og:image', content='}')
	meta(property='og:image:height', content='}')
	meta(property='og:image:type', content='}')
	meta(property='og:image:width', content='}')
	meta(property='og:site_name', content='')
	meta(property='og:title', content='')
	meta(property='og:type', content='}')
	meta(property='og:url', content='')

	block meta

	link(href='logo.png', rel='icon', type='image/vnd.microsoft.icon')
	link(href='logo.png', rel='shortcut icon', type='image/vnd.microsoft.icon')
	link(href='logo.png', rel='shortcut icon', type='image/x-icon')
	link(href='', rel='image_src', type='image/jpeg')

	link(rel="stylesheet", href="[[/styles/main.min.css]]")
	link(rel="stylesheet", href="css/main.css")

	block styles


